@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="banner-btn">
    <div class="container">
        <div class="row banner-btn-bg">
            <div class="col-md-12">
                <p class="text-center">Please Select an option</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-12 col-md-offset-2">
                <div class="banner-btn-single">
                    <a href="/User/postjob">
                        <img src="~/Content/images/icons/view-jobs.png" />
                        <h4>Post Jobs</h4>
                        <br>
                    </a>
                </div>
            </div><!-- /col-md-2 -->

            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="banner-btn-single">
                    <a href="/User/myjobs">
                        <img src="~/Content/images/icons/my-jobs2.png" />
                        <h4>View / Track <br>My Jobs</h4>
                    </a>
                </div>
            </div><!-- /col-md-2 -->

            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="banner-btn-single">
                    <a href="/User/myproperty">
                        <img src="~/Content/images/icons/my-proporties.png" />
                        <h4>My Properties</h4>
                        @*<h6>
                            <span><a href="#">Add</a></span>
                            <span><a href="#">View</a></span>
                            <span><a href="#">Edit</a></span>
                            <span><a href="#">Delete</a></span>
                        </h6>*@
                    </a>
                </div>
            </div><!-- /col-md-2 -->

            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="banner-btn-single">
                    <a href="/User/mycleaners">
                        <img src="~/Content/images/icons/my-cleaners.png" />
                        <h4>My Cleaners <br> Add / Delete</h4>
                    </a>
                </div>
            </div><!-- /col-md-2 -->

        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /main-banner -->


<br><br><br><br>


