@model ClassLibrary.WebModels.CleanerAllJobsModelPagenation
@{
    var jobListCountIndex = new EntitiesLibrary.Data.WebService().cleanerListAllJobsCount(Model);
}

@if (Model.currentIndex > 0)
{
    <li><a class="a-cleaner-alljob-pageChange-prev" style="cursor:pointer;">Prev</a></li>
}

@if (jobListCountIndex > 0)
{
    <li><a class="a-cleaner-alljob-pageChange-next" style="cursor:pointer;">Next</a></li>
}